.super-mario {
  width: 200px;
  position: absolute;
  top: 10px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 300px;
  left: 50px;

  
}

.baloon {
 position: absolute;
 top: 465px;
 left: 10px;

}

.speach {
  font-size: 25px;
  position: absolute;
  top: 500px;
  left: 35px;
  z-index: 1;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 600px;
  left: 310px;
  
}