<style>
      h1 {
        font-family: sans-serif;
      }
      p {
        font-weight: 600;
        font-size: 3em;
        font-style: italic;
        line-height: 1;
        text-decoration: underline;
        background-color: yellow;
        background-color: red;
        background-color: brown;
      }
    

    </style>